@include media(tablet-landscape){
    .top-rated{
        .gal-imgs--text1{
            width: 80% !important;
        }
    }
    .gallery-folder{
        h2{
            padding-left: 4.6em !important;
        }
        .gal-imgs--content{
            height:9em !important;
            margin-left: -1.3em !important;
        }
        .duration{
            width: 60% !important;
        }
        .odd{
            width: 73% !important;
        }
        .even{
            width: 60% !important;
        }
 }
    .top-rated{
       .tr-odd{
           width: 72% !important;
       }
       .duration{
           width: 23% !important;
       }
    }
 }
 @include  media(tablet-portrait){
     .gallery{
         height: 2500px !important;
     }
     .language{
        .watch-lang{
            .lang-sel{
                width: 24% !important;
            }
        }

     }
     .gallery-folder{
        .odd{
            width: 64% !important;
        }
        .even{
            width: 50% !important;
        }
         h2{
             padding-left: 3.8em !important;
         }
         .h2-border{
             top: 40.9em !important;
         }
         .gal-img--container{
             width: 45% !important;
             margin-bottom: 20px !important;
         }
         .gal-imgs--content{
            width: 43.5% !important;
         }
         .gal-imgs--content1{
             left: 9%;
         }
         .gal-imgs--content2{
            left: 523%;
        }
        .gal-imgs--content3{
            left: 9%;
        }
        .gal-imgs--content4{
            left: 53%;
        }
     }
     .binge{
        .h2-border{
            top: 69em !important;
        }
     }
     .language{
        .h2-border{
            top: 97em !important;
        }
     }
     .top-rated{
         .tr-odd{
             width: 90% !important;
         }
         i,h3{
             font-size: 2em !important;
         }
         h3{
            padding-top: 0em !important;
         }
         .duration{
             padding-left: 4em !important;
             width: 30% !important;
             padding-top: 0.7em;
         }
         .ratings{
             i,h3{
                 font-size: 1em !important;
             }
         }
        .tr-overlay{
            top: 126em;
        }
        .tr-btn{
            top: 68em;
            left: 38%;
        }
     }
     .genre{
         .h2-border{
             top: 157em !important;
         }
         .gen-img--container{
             width: 48% !important;
             margin-top: 20px !important;
         }
         .gen-overlay{
             width: 38.4% !important;
         }
         .go1,.go2{
            top: 161.5em !important;
         }
         .go3,.go4{
            top: 175.5em !important;
         }
         .gen-btn1,.gen-btn2{
            top: 118em !important;
         }
         .gen-btn3,.gen-btn4{
             top: 128em !important;
         }
         .gen-btn1,.gen-btn3{
            left: 23% !important;
         }
         .gen-btn2,.gen-btn4{
             left: 64% !important;
         }
     }
 }
 @include  media(phone){
    .gallery{
        height: 3900px !important;
        .duration{
            width: 37% !important;
        }
    }
    .language{
        .watch-lang{
            .lang-sel{
                width: 48% !important;
            }
        }

     }
    .gallery-folder{
        .odd{
            width: 45% !important;
        }
        .even{
            width: 35% !important;
        }
        h2{
            padding-left: 2em !important;
        }
        .h2-border{
            top: 30.2em !important;
        }
        .gal-img--container{
            width: 100% !important;
            margin-bottom: 20px !important;
        }
        .gal-imgs--content{
            width: 100% !important;
            left: 4%;
        }
    }
    .binge{
        .h2-border{
            top: 81.3em !important;
        }
     }
     .language{
        .h2-border{
            top: 132.3em !important;
        }
     }
     .top-rated{
         .tr-overlay{
             top: 184.6em;
             height: 215px !important;
         }
         .tr-btn{
             top: 95em !important;
             left: 3.2em !important;
         }
         .tr-img{
             height: 215px !important;
         }
         i,h3{
            font-size: 1em !important;
         }
         .tr-odd{
             padding: 0em !important;
             i{
                 padding-right: 0.3em !important;
             }
         }
         .tr-imgs--text{
            padding-top: 1em !important;
        }
        .duration{
            padding-left: 0.7em !important;
            width: 63% !important;
            i,h3{
                font-size: 0.9em !important;
            }
        }
     }
     .genre{
        .h2-border{
            top: 157em !important;
        }
        .gen-img--container{
            width: 100% !important;
            margin-top: 20px !important;
        }
        .gen-overlay{
            width: 80% !important;
        }
        .go1{
           top: 210em !important;
        }
        .go2{
            top: 223.60em !important;
         }
        .go3{
           top: 237.5em !important;
        }
        .go4{
            top: 251em !important;
         }
        .gen-btn1,.gen-btn2{
           top: 118em !important;
        }
        .gen-btn1,.gen-btn2,.gen-btn3,.gen-btn4{
            left: 36% !important;
        }
        .gen-btn1{
            top: 153em !important;
        }
        .gen-btn2{
            top: 163em !important;
        }
        .gen-btn3{
            top: 173em !important;
        }
        .gen-btn4{
            top: 183em !important;
        }
    }
}
.gallery{
    background-color: #152535;
    margin-top: -2px;
    height: 1700px;
    z-index: -1;
}
@mixin h2-border(){
    width: 3px;
    height: 25px;
    background-color: white;
    left: 10%;
    top: 44em;
}
@mixin gal-imgs--text(){
    .even{
        width: 40%;
    }
    .odd{
        width: 48%;
    }
    p{
        padding: 0.9em;
        margin: 0px auto;
        text-align: left;
        color: #acb4b9;
        font-size: 0.8em;
        letter-spacing: 1px;
        font-weight: 100;
    }
    .gal-imgs--text{
        width: 90%;
        margin: 0px auto;
        justify-content: space-between;
        padding-top: 0.5em;
        i{
            color: #fff;
            font-size: 1.2em;
            padding-top: 0.3em;
        }
        .gal-imgs--text1{
            justify-content: space-between;
            i{
                color: #fff;
                font-size: 2.3em;
                padding-top: 0em;
                transition: all 0.7s ease-in-out;
            }
            i:hover{
                color: #ffa500d1;
            }
            h3{
                a{
                color: #fff;
                transition: all 0.7s ease-in-out;
                }
                font-size: 1.2em;
                letter-spacing: 2px;
                padding-top: 0.4em;
                
                a:hover{
                    color: #ffa500d1;
                }
            }
        }
    }
}
@mixin gal-imgs--content(){
    background-color: #203345;
    width: 23%;
    z-index: 1;
    height: 8.3em;
    border-radius: 5px;
    margin-left: -1.8em;
    margin-top: 12px;
    display: none;
}
.gallery-last{
    justify-content: space-between;
    padding-left: 0.8em;
    width: 94%;
    h6{
        border: 1.5px solid #737678;
        padding-left: 0.6em;
        padding-right: 0.6em;
        padding-top: 0.1em;
        padding-bottom: 0.1em;
        font-size: 0.7em;
        color: #737678;
        margin-top: -2px;
        border-radius: 2px;
    }
    .duration{
        color: #acb4b9;
        width: 41%;
        justify-content: space-between;
        h4{
            border-right: 2px solid #737678;
            padding-right: 0.4em;
            height: 13px;
            font-size: 0.7em;
        }
        .ratings{
            width: 24%;
            justify-content: space-between;
            i{
                font-size: 0.7em;
                color: #ca8810;
            }
            h3{
                font-size: 0.7em;
            }
        }
    }
}
.gallery-folder{
    h2{
        font-size: 1.6em;
        letter-spacing: 2px;
        color: #fff;
        padding: 1em;
        padding-left: 6.4em;
    }
    .h2-border{
        @include h2-border();
        @include gal-imgs--text();
    }  
    .gal-imgs--content1{
        @include gal-imgs--content();
        @include gal-imgs--text();
    }
    .gal-imgs--content2{
        @include gal-imgs--content();
        @include gal-imgs--text();
    }
    .gal-imgs--content3{
        @include gal-imgs--content();
        @include gal-imgs--text();
    }
    .gal-imgs--content4{
        @include gal-imgs--content();
        @include gal-imgs--text();
    }
}
.gallery-images{
    margin: 0px auto;
    justify-content: space-between;
    flex-wrap: wrap;
}
.gal-imgs{
    height: 10em;
    width: 100%;
    border-radius: 5px;
    transition: all 1s ease-in-out;
}
.gal-imgs1:hover{
    transform: scale(1.1);
}
.gal-img--container{
    width: 24%;
}
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
.gal-img--container:hover{
    .gal-imgs{
        transform: scale(1.2);
    }
    .gal-imgs--content{
        display: block;
        -webkit-animation: fadeIn 2s;
        animation: fadeIn 2s;
    }
}
.binge{
    .gal-img--container{
        h3{
            padding-top: 0em !important;
            padding-left: 0.6em !important;
        }
    }
    .gal-imgs--text1{
        width: 87% !important;
    }
    .h2-border{
        top: 59.4em
    }
}
.language{
    .h2-border{
        top: 74.6em;
    }
    .watch-lang{
        .lang-sel{
            width: 12%;
        }
        .gal-imgs{
            height: 9em;
        }
    }
}
.top-rated{
    .h2-border{
        top: 89em;
    }
    .gal-tr-img--container{
        width: 80%;
        margin: 0px auto;
        .tr-img{
            width: 100%;
            height: 370px;
        }
    }
    .tr-imgs--content{
        display: block;
        width: 97.7%;
        margin-left: 1%;
        margin-top: -12px;
        height: 100px;
        box-shadow: 1px 3px 10px -4px;
    }
    .tr-odd{
        width: 48%;
    }
    .tr-imgs--text{
        width: 98%;
        justify-content: space-between;
        i{
            font-size: 2em;
            padding-top: 0.7em;
            color: #fff;
        }
    .tr-imgs--text1{
        padding-top: 1.2em;
        padding-left: 1em;
        justify-content: space-between;
    i{
        font-size: 3.5em;
        padding-top: 0em;
        color: #fff;
        transition: all 0.7s ease-in-out;
    }
    i:hover{
        color: #ca8810;
    }
    h3{
        font-size: 2em;
        padding-top: 0.2em;
        a{
            color: #fff;
            transition: all 0.7s ease-in-out;
        }
        a:hover{
            color: #ca8810;
        }
        
    }

} 
}
    .gallery-last{
        .duration{
            width: 16%;
            padding-left: 6em;
            h4{
                font-size: 0.9em;
            }
            .ratings{
                i,h3{
                    font-size: 0.9em;
                }
            }
        }
    }
}
.tr-overlay{
    width: 80%;
    top: 92em;
    height: 374px;
    background-color: #000000a8;
    border-radius: 5px;
    display: none;
}
.tr-btn{
    font-size: 2em;
    top: 51em;
    left: 45%;
    transition: all 0.5s ease-in-out;
    display: none;
}
.tr-btn:hover{
    color: rgb(216, 149, 26);
    border: 2px solid #fff;
}
.gal-tr-img--container:hover{
    .tr-btn,.tr-overlay{
        display: block;
        -webkit-animation: fadeIn 2s;
        animation: fadeIn 2s;
    }
}

.genre{
    .h2-border{
        top: 122.9em;
    }
    .gen-img--container{
        .gen-overlay{
            width: 19.2%;
            top: 126em;
            background-color: #000000bd;
            height: 163px;
            display: none;
        }
        .btn{
            top: 93em;
            display: none;
        }
        .gen-btn{
            transition: all 0.6s ease-in-out;
        }
        .gen-btn1{
            left: 16%;
        }
        .gen-btn2{
            left: 37%;
        }
        .gen-btn3{
            left: 57%;
        }
        .gen-btn4{
            left: 77%;
        }
        width: 24%;
        .gen-content{
            box-shadow: 5px 12px 14px -14px;
            .gen-text{
                padding: 1em;
                padding-bottom:0em ;
                justify-content: space-between;
                h3{
                    a{
                    color: #fff;
                    letter-spacing: 1px;
                    transition: all 0.6s ease-in-out;
                    }
                    a:hover{
                        color: #ebb51d;
                    }
                }
                h4{
                    color: #486591;
                    font-size: 0.8em;
                    padding-top: 0.3em;
                }
            }
        }
        .gen-content{
            background-color: #203345;
            width: 92%;
            border-radius: 5px;
            margin: 0px auto;
            height: 45px;
            margin-top: -10px;
            z-index: -1;
        }
    }
}
.gen-img--container:hover{
    .btn,.gen-overlay{
        display: block;
        -webkit-animation: fadeIn 2s;
        animation: fadeIn 2s;
    }
}
.gen-btn:hover{
    border: 2px solid #fff ;
    color: rgb(216, 149, 26);
}
.see-more{
    margin-top: 58px;
    .see-more--content{
        background-color: #203345;
        margin: 0px auto;
        border-radius: 4px;
    }
    h3{
        text-align: center;
        padding: 0.4em;
        a{
        font-size: 1.6em;
        color: #acb4b9;
        transition: all 0.6s ease-in-out;
        }
        a:hover{
            color:#fff;
        }
    }

}