::-webkit-scrollbar {
    width: 15px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #4a555f; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #203345; 
  }