@media (max-width: 1025px) {
  .banner2 {
    height: 650px !important;
  }
  .banner2 .banner2-left {
    padding-left: 2em !important;
  }
  .banner2 .banner2-left .btn {
    font-size: 0.9em !important;
  }
  .banner2 .banner2-right {
    padding-left: 2em !important;
  }
  .gallery .h2-border {
    top: 45.9em !important;
  }
}

@media (max-width: 800px) {
  .banner2 {
    height: 550px !important;
  }
  .banner2 .banner2-left, .banner2 .banner2-right {
    width: 100% !important;
    padding: 0em !important;
  }
  .banner2 .banner2-left .bn-img--overlay, .banner2 .banner2-right .bn-img--overlay {
    width: 50% !important;
  }
  .banner2 .banner2-left {
    padding-top: 2em !important;
  }
  .gallery {
    height: 550px !important;
  }
  .gallery .h2-border {
    top: 39.7em !important;
  }
}

@media (max-width: 500px) {
  .banner2 {
    height: 966px !important;
  }
  .banner2-content {
    display: block !important;
  }
  .banner2-content .banner2-left, .banner2-content .banner2-right {
    width: 80% !important;
    margin: 0px auto !important;
    padding-bottom: 3em !important;
  }
  .banner2-content .banner2-left .ban2-img, .banner2-content .banner2-right .ban2-img {
    height: 288px !important;
  }
  .banner2-content .banner2-left .bn-img--overlay, .banner2-content .banner2-right .bn-img--overlay {
    width: 80% !important;
    top: 43.9em !important;
    height: 288px !important;
  }
  .banner2-content .banner2-left .img2-icon, .banner2-content .banner2-right .img2-icon {
    left: 39% !important;
    top: 10em !important;
  }
  .gallery {
    height: 846px !important;
  }
  .gallery .h2-border {
    top: 65.7em !important;
  }
}

.banner2 {
  height: 500px;
  background-color: #152535;
}

.banner2 .banner2-left {
  padding-left: 5em;
  padding-top: 4em;
  padding-bottom: 0em;
  width: 35%;
}

.banner2 .banner2-left .ban2-h2 h1 {
  font-size: 3em;
  color: #fff;
  font-weight: 700;
}

.banner2 .banner2-left .ban2-ratings {
  padding-top: 1em;
}

.banner2 .banner2-left .ban2-ratings h6 {
  color: #acb4b9;
  padding: 0em;
  padding-right: 0.4em;
  padding-left: 0.4em;
  font-size: 1em;
  border-right: 2px solid grey;
  height: 15px;
}

.banner2 .banner2-left .ban2-ratings .ban2-review {
  padding-left: 0.4em;
}

.banner2 .banner2-left .ban2-ratings .ban2-review h5, .banner2 .banner2-left .ban2-ratings .ban2-review i {
  color: #acb4b9;
  font-size: 1em;
}

.banner2 .banner2-left .ban2-ratings .ban2-review i {
  color: #b1832e;
  padding-right: 0.4em;
}

.banner2 .banner2-left .ban2-para {
  padding-left: 0.4em;
  padding-top: 1em;
}

.banner2 .banner2-left .ban2-para p {
  color: #acb4b9;
  letter-spacing: 2px;
}

.banner2 .banner2-left .ban2-btn {
  padding-top: 1.3em;
  padding-left: 0.3em;
}

.banner2 .banner2-left .ban2-btn .ban2-content {
  width: 90%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.banner2 .banner2-left .ban2-btn .btn-blue {
  width: 38%;
  padding: 0.4em;
}

.banner2 .banner2-left .ban2-btn .btn-blue i {
  font-size: 1.1em;
  padding-right: 0.2em;
}

.banner2 .banner2-left .ban2-btn .btn-transparent {
  width: 56%;
  padding: 0.4em;
}

.banner2 .banner2-left .ban2-btn .btn-transparent i {
  font-size: 1.1em;
  padding-right: 0.2em;
}

.banner2 .banner2-left .ban2-btn .btn {
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.banner2 .banner2-left .ban2-btn .btn:hover {
  background-color: #1dc01f;
  border: 2px solid #1dc01f;
}

.banner2 .banner2-left .ban2-details {
  width: 103%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 2em;
  padding-left: 0.3em;
}

.banner2 .banner2-left .ban2-details h3 {
  color: #acb4b9;
  padding-bottom: 0.3em;
  font-size: 1.1em;
}

.banner2 .banner2-left .ban2-details h3 a {
  color: #2727aee0;
  font-size: 1em;
}

.banner2 .banner2-left .ban2-details .bd-info--right h3 {
  color: #fff;
  font-weight: 100;
}

.banner2 .banner2-right {
  width: 59%;
  padding-left: 6.3em;
}

.banner2 .banner2-right .ban2-img {
  width: 100%;
  height: 514px;
  opacity: 0.5;
}

.banner2 .banner2-right .img2-icon {
  left: 69%;
  top: 3.7em;
  font-size: 5em;
  color: #acb4b985;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.banner2 .banner2-right .img2-icon:hover {
  color: #aeafb1c9;
}

.gallery {
  height: 330px;
}

.gallery .gallery-folder .h2-border {
  top: 36.6em;
}
/*# sourceMappingURL=page2.css.map */